# core
.DS_Store
.env
.env*.local
.env.production
output
dist
target
.idea
.cache
.output
node_modules
package-lock.json
yarn.lock
.vercel
*.bike
*.db
.repo_ignore
x.*
x/
x-*
past-*
past*
past/
*.log
private

bun.lock
.contentlayer
.content-collections
.source
/coverage
/.next/
/out/
/build
*.tsbuildinfo
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel
next-env.d.ts
